@page "/day"

<h1>Day counter</h1>

<div class="container">
    <div class="row">
        <input type="text" @bind="result">
    </div>
    <div class="row">
        <input type="date" @bind="startDate" @bind:format="yyyy-MM-dd">
        <input type="date" @bind="endDate" @bind:format="yyyy-MM-dd">
    </div>
    <div class="row">
        <button class="col btn btn-primary" @onclick="Count">Format</button>
    </div>
</div>

@code {
    private DateTime startDate = DateTime.Now;
    private DateTime endDate = DateTime.Now.AddDays(5);
    private string result;

    private void Count()
    {
        TimeSpan time;

        if (startDate > endDate)
            time = startDate - endDate;
        else
            time = endDate - startDate;

        result = time.ToString("d'd 'h'h 'm'min'");
    }
}
